* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbfbf;
}

header {
    background-color: white;
    padding: 25px 20px;
    position: sticky;
    z-index: 1000;
    top: 0px;
    border-bottom: 1px solid gray;
    a {
        font-size: 24px;
        text-decoration: none;
        color: #008ECC;
        
    }
    a:hover {
        color: red;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    ul {
        list-style-type: none;
        display: flex;
        gap: 20px;
        position: relative;
        li {
            position: relative;
            a {
                color: #008ECC;
                text-decoration: none;
                font-size: 16px;
            }
        }
        li:not(:last-child)::after {
            content: '';
            position: absolute;
            top: 50%; /* Centers it vertically */
            right: -10px; /* Position it to the right of the item */
            width: 2px; /* Width of the vertical line */
            height: 20px; /* Height of the vertical line */
            background-color: #008ECC; /* Color of the vertical line */
            transform: translateY(-50%); /* Center the line vertically */
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #D3D3D3;
    min-height: 82vh;
}


.container {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #D3D3D3;
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
    .member-list {
        display: flex;
        justify-content: center;
        img {
            margin: 2rem 4rem;
            max-width: 20rem;
            max-height: 20rem;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.525);
        }
        .member {
            text-align: center;
            margin-bottom: 2rem;
            p {
                margin: 5px 0;
                font-size: 16px;
            }
        }
    }
    .big-component {
        width: 100%;
        height: 30rem;
        display: flex;
        margin: 2rem 0;
        img {
            object-fit: cover;
            max-width: 50%;
            border-radius: 20px;
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.525);
        }
        .right-component {
            padding-left: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            h1 {
                text-align: left;
                font-size: 36px;
            }
            p {
                font-size: 20px;
                padding: 10px 0;
                text-align: left;
                a {
                    text-decoration: none;
                    color: #008ECC;
                }
            }
        }
    }
}

.horizontal-line {
    width: 100%;
    height: 1px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Footer styling */
footer {
    background-color: white;
    color: #008ECC;
    text-align: center;
    padding: 20px;
    width: 100%;
    a {
        color: #008ECC;
        text-decoration: none;
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    border-top: 1px solid gray;
}

.container-main {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.799);
    .component-box {
        display: flex;
        justify-content: center;
        width: 40vh;
        .small-left, .small-right {
            padding: 5px;
            color: black;
            border: 1px solid black;
        }
        .small-left{
            text-align: right;
            width: 10vh;
        }
        .small-right {
            flex: 1;
        }
    }
}

.store {
    background-image: url(./img/SupermarketBG.jpg);
    background-size: cover;
}

/* Responsive Design: Stack sections on smaller screens */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 500px) {
    header a {
        font-size: 18px;
    }
    header ul li a {
        font-size: 14px;
    }
    .container .member-list {
        flex-direction: column;
    }
    .container .big-component {
        height: auto;
        flex-direction: column;
    }
    .container .big-component img {
        max-width: 20rem;
        margin-bottom: 2rem;
    }
}