* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #bfbfbf;
}

header {
    background-color: white;
    padding: 25px 20px;
    position: sticky;
    z-index: 1000;
    top: 0px;
    a {
        font-size: 24px;
        text-decoration: none;
        color: #008ECC;
        
    }
    a:hover {
        color: red;
    }
    border-bottom: 1px solid gray;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    position: relative;
}

header ul li a {
    color: #008ECC;
    text-decoration: none;
    font-size: 16px;
}

header ul li {
    position: relative;
}

header ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%; /* Centers it vertically */
    right: -10px; /* Position it to the right of the item */
    width: 2px; /* Width of the vertical line */
    height: 20px; /* Height of the vertical line */
    background-color: #008ECC; /* Color of the vertical line */
    transform: translateY(-50%); /* Center the line vertically */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #D3D3D3;
}


.container {
    position: relative;
    background-color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #D3D3D3;
    h2 {
        font-size: 32px;
        margin-bottom: 20px;
    }
}

.member-list {
    display: flex;
    justify-content: space-around;
    img {
        max-width: 20rem;
        max-height: 20rem;
        border-radius: 20px;
    }
}

.member {
    text-align: center;
    p {
        margin: 5px 0;
        font-size: 16px;
    }
}

.profile-pic {
    width: 120px;
    height: 120px;
    background-color: #d3d3d3;
    border-radius: 50%;
    margin-bottom: 10px;
}

/* Footer styling */
footer {
    background-color: white;
    color: #008ECC;
    text-align: center;
    padding: 20px;
    width: 100%;
    a {
        color: #008ECC;
        text-decoration: none;
        font-size: 14px;
    }
    p {
        font-size: 14px;
    }
    border-top: 1px solid gray;
}

.container-main {
    width: 80%;
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    .component {
        display: flex;
        justify-content: space-around;
    }
}

/* Responsive Design: Stack sections on smaller screens */
@media (max-width: 768px) {
    .container {
        width: 80%;
    }
}